<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= pageTitle %></title>
  <link rel="stylesheet" type="text/css" href="about.css">
</head>
<body>
  <div class="container1">
    <div class="navbar">
      <img src="<%= logoPath %>" alt="">
      <nav>
        <ul>
          <li><a href="<%= homeLink %>">Home</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/about">About Us</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <img src="<%= firstPartImage %>" alt="Canva SVG" class="imgbgd">

  <div class="container2">
    <a href="<%= getStartedLink %>" class="responsive-button">Get Started</a>
  </div>

  <img src="<%= secondPartImage %>" alt="Canva SVG" class="imgbgd2">
</body>
</html>
